//----------------------------------------------------------------------------------------------------------------------
// Home Styles
//----------------------------------------------------------------------------------------------------------------------


#game {
    position:absolute;
    margin: 0px;
    padding: 0px;
    left:20px;
    top:64px;
    right:0px;
    bottom:0px;
}

//----------------------------------------------------------------------------------------------------------------------
